@import "bourbon";

// Mixins
@mixin user-select($select) {
    -webkit-user-select: $select;
    -khtml-user-drag: $select;
    -khtml-user-select: $select;
    -moz-user-select: $select;
    @if $select == none { -moz-user-select: -moz-none; }
    -ms-user-select: $select;
    user-select: $select;
}

// CSS
body {
    font-family: Open Sans;
    background-image:url("../img/background.jpg");
    background-attachment: fixed;
    background-size:cover;
}

#hero{
    position:relative;
    height:100vh;

    .content{
        position:absolute;
        top: 50%;
        left: 50%;

        width: 600px;

        color: #fff;
        font-size: 36px;
        font-weight: 300;
        text-align: center;

        margin-left: auto;
        margin-right: auto;

        @include transform(translate(-50%, -50%));

        div.row{
            margin: 2em 0px;

            &.avatar{
                img{
                    border-radius: 50%;
                    box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.3);
                    border: 2px solid rgba(0, 0, 0, 0.5);
                }
            }

            &.title{
                color: white;
                text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
            }

            &.contacts{
                a{
                    display: inline-block;
                    margin: 0px 10px;
                    padding: 0px;
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    border-radius: 50%;
                    width: 80px;
                    height: 80px;
                    line-height: 76px;
                    text-align: center;
                    font-size: 40px;
                    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
                    color: rgba(255, 255, 255, 0.5);

                    @include user-select(none);
                    @include transition(color 0.2s ease-out,
                    border 0.2s ease-out,
                    transform 0.2s ease-out,
                    background-color 0.2s ease-out,
                    box-shadow 0.2s ease-out
                    );

                    &:hover{
                        border: 1px solid white;
                        color: white;
                        background-color: rgba(255, 255, 255, 0.1);
                        box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);

                        @include transform(scale(1.05));
                    }
                }
            }
        }

    }

    .whatsnext{
        position:absolute;
        top: 90%;
        left: calc(50% - 15px);
        text-align: center;
        padding-top: 0px;
        font-size: 30px;

        @include user-select(none);

        color: rgba(255, 255, 255, 0.5);

        @include transition(padding-top 0.2s ease-in, color 0.2s ease-in);

        &:hover{
            color: white;
            text-decoration: none;
            padding-top: 10px;
        }
    }
}


#content{
    padding:100px 50px;
    text-align:center;
    width:80%;
    margin:0px auto;
}

#content h2{
    margin:0px 0px 30px 0px;
}



#section_1{
    background-color: transparent;
    width: 100%;
    padding-top: 40px;

    >.row{
        background: #f9f9f9;
        margin: 0px;
        padding-bottom: 40px;

        .col{
            $border_top_width: 5px;

            .logo{
                @include user-select(none);

                cursor: default;

                width: 100%;
                height: 40px;
                text-align: center;
                color: white;

                @include transition(color 0.2s ease-in);

                i{
                    width: 80px;
                    height: 80px;
                    background: #4a423f;
                    font-size: 40px;
                    position: relative;
                    top: -40px;
                    padding: 20px;
                    border-radius: 50%;
                    &:after{
                        position: absolute;
                        top: -5px;
                        left: -5px;
                        width: 90px;
                        height: 90px;
                        border-radius: 50%;
                        content: '';
                        z-index: -1;
                    }
                }
            }

            h1{
                margin: 10px 0px;
                text-align: center;
            }

            >.content{
                padding-top: 20px;
                p{
                    text-indent : 1em;
                }
            }

            &#front{
                $front_color_hover:#7eafd4;

                height: 100%;
                border-top: $border_top_width solid white;

                @include transition(border-top 0.2s ease-in);

                i:after{
                    background: white;
                    @include transition(background 0.2s ease-in);
                }

                &:hover{
                    border-top: $border_top_width solid $front_color_hover;
                    .logo{
                        color: $front_color_hover;
                        i:after{
                            background: $front_color_hover;
                        }
                    }
                }
            }

            &#back{
                $back_color_hover:#fdae61;

                height: 100%;
                border-top: $border_top_width solid white;

                @include transition(border-top 0.2s ease-in);

                i:after{
                    background: white;

                    @include transition(background 0.2s ease-in);
                }

                &:hover{
                    border-top: $border_top_width solid $back_color_hover;
                    .logo{
                        color: $back_color_hover;
                        i:after{
                            background: $back_color_hover;
                        }
                    }
                }
            }

            &#infrastructure{
                $infrastructure_color_hover:#84BE72;
                height: 100%;
                border-top: $border_top_width solid white;

                @include transition(border-top 0.2s ease-in);

                i:after{
                    background: white;

                    @include transition(background 0.2s ease-in);
                }

                &:hover{
                    border-top: $border_top_width solid $infrastructure_color_hover;
                    .logo{
                        color: $infrastructure_color_hover;
                        i:after{
                            background: $infrastructure_color_hover;
                        }
                    }
                }
            }
        }

    }

}

.footer{
    padding:0px;
    text-align:center;
    background:#ddd;

    text-align: center;
    width: 100%;
    line-height: 40px;
    height: 40px;
    vertical-align: middle;

    .container{
        padding: 0px;
        margin: 0px;
        width: 100%;
        p{
            margin: 0px;
            color: #222222;
            font-size: 12px;

            a{
                color: #222222;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}
